<section class="dashboard">
    <div class="hero">
        <div class="hero-text">
            <h2>Shop the new <br><span>Signature Collection</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            <button class="shop-now" id="shopNow">SHOP NOW</button>
        </div>
        <div class="hero-image">
            <img src="assets/banner.jpg" alt="Signature Collection">
        </div>
    </div>

    <!-- CATEGORIES -->
    <div id="category" class="categories"></div>
</section>